@import "tailwindcss";

@theme {
  --color-primary-100: #e1e1e1;
  --color-primary-200: #c0c0c0;
  --color-primary-300: #8c93a1;
  --color-primary-400: #677289;
  --color-secondary-100: #f59d0e;
  --color-warning: #ef494f;
}
